@model OnlineMarking.Models.Record[]
@{
    ViewBag.Title = "RecordList";
}
<table>
    <tr><th>student</th><th>fileName</th><th>mark</th></tr>
    @foreach (var r in @Model)
    {
        <tr>
            <td>@r.studentName</td>
            <td>@r.fileName</td>
            @if (r.marks == 0)
            {
            <td> No Result; </td>}
            else
            {
            <td>  r.marks; </td>}
        </tr>
    }
</table>