@model OnlineMarking.Models.Record[]
@{
    ViewBag.Title = "RecordList";
}
<table>
    <tr><th>student</th><th>fileName</th><th>mark</th></tr>
    
    @foreach (var r in @Model)
    {
        <tr>
            <td>@r.studentName</td>
            <td>@r.fileName</td>
            @if (r.marks == "")
            {
            <td> No Result; </td>}
            else
            {
            <td>  r.marks; </td>}
            <td>
            @using (Html.BeginForm("RecordList", "Teacher", FormMethod.Post, new { enctype = "multipart/form-data" }))
            {
                <input type="hidden" id="recordid" name="recordid" value="@r.ID"/>
                <input id="button" type="submit" value="mark" />
            }</td>
        </tr>
    }
</table>