@model OnlineMarking.Models.Record[]
@{
    ViewBag.Title = "Result";
}
<table>
    <tr><th>student</th><th>fileName</th><th>mark</th></tr>
    @foreach (var r in @Model)
    {
        <tr><td>@r.studentName</td><td>@r.fileName</td>
        @if (r.marks == "")
        {<td> No Result; </td>}
        else
        {<td>  r.marks; </td>} </tr>
    }
</table>