@model OnlineMarking.Models.Record[]
@{
    ViewBag.Title = "Result";
}
<table>
    <tr><th>student name</th><th>fileName</th><th>mark</th></tr>
    @foreach (var r in @Model)
    {
        <tr><td>@r.studentName</td><td>@r.fileName</td><td>@r.marks</td></tr>
    }
</table>