@model OnlineMarking.Models.Record
@{
    ViewBag.Title = "Upload";
}
@Styles.Render("~/Content/myCss.css")
@Styles.Render("~/Content/css")
<div><h1>Upload</h1></div>
<div><h4>Please select a html file.</h4></div>
<table class="table">
    @using (Html.BeginForm("Upload", "Student", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        <tr>
            <td>
                <input id="file" name="file" type="file" accept="text/html" required="required" class="upload" />
            </td>
        </tr>
        <tr>
            <td>
                <input id="submit" type="submit" value="upload" style="font:bold" />
            </td>
        </tr>
    }
    @if (ViewData.ModelState["type"]!= null) {
        <tr><td>@Html.ValidationMessage("type",new { @class = "text-danger" })</td></tr>
    }
</table>







