.iframeOne {                        /*control the style of iframe*/
    margin-top:30px;
    margin-bottom:30px;
    width: 100%;
    height:400px;
}
.divD {                             /*control the style of div in RecordList and Result view*/
    margin-left:80px;
}
.thD {                              /*control the style of the th in table*/
    height:150px;
}
.TextD {                            /*control the style of the textArea*/
    width:100%;
    height:100%;
    resize:none;
}
.textBox {                          /*control the style of the textBox*/
    width:100%;
    height:100%;
}
input.upload {                      /*control the style of the upload button*/
    font-size:15px;
    cursor:pointer;
    line-height:1.42857143;
}


